<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>accessoryContent</key>
				<string>UI20</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>title</key>
				<string>评分支持</string>
			</dict>
			<dict>
				<key>cellType</key>
				<string>UITableViewCellStyleValue1</string>
				<key>subTitle</key>
				<string>10000</string>
				<key>accessoryContent</key>
				<string>UI20</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>title</key>
				<string>客服电话</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
